$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.article{
    &__about{
        font-family: "Nunito-Bold";
    }
    &__about-headline{
        font-size: 2rem;

        &-comment{
            color: #5766b5;
            font-family: "Nunito-Regular";
            font-size: 1.5rem;
            margin-top:.5rem;
        }
    }
    &__about-description{
        font-family: "Nunito-ExtraLight";

        & p{
            margin-top: 1rem;
        }
    }
    &__about-route{
        margin: 5vh 0 0 0;

        &-button{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            padding: 2rem;
            border: .05rem solid $darkBlue;
            border-radius: 5px;
            font-size: 1.2rem;
            width: 10rem;
        }
    }
}
.--language-c{
    color: #659BD3;
}
.--language-dotnet{
    color: #68217A;
}
.--language-html{
    color: #E95727;
}
.--language-css{
    color: #284DE4;
}
.--language-reactjs{
    color: #19DBFE;
}
.--start{
    margin-bottom: 1rem;
}
.--end{
    margin-top: 1rem;
}
.--to-projects{
    background-color: $darkBlue;
    color: $white;
    font-family: "Nunito-SemiBold";
    margin: 0 0 1rem 0;
}
@media (min-width: 801px) {  
    .article{
        &__about-headline{
            display: inline-block;
            font-size: 5vh;

            &-comment{
                font-size: 2.5vh;
                margin-top: 1vh;
            }
        }
        &__about-description{
            font-size: 2.5vh;
            margin-top: 4vh;

            & p{
                margin-top: 1vh;
            }
        }
        &__about-route{
            margin: 5vh 0 0 0;

            &-button{
                padding: 1.5vh;
                border: .1rem solid $darkBlue;
                font-size: 2vh;
                text-align: center;
            }
        }       
    }
    .--about-image{
        background-image: url('../../images/about.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: 55vh;
        min-height: 60vh;
    }
    .--start{
        text-align: start;
        margin-bottom: 1vh;
    }
    .--end{
        text-align: end;
        margin-top: 1vh;
    }
    .--to-projects{
        margin: 0 2vh 0 0;
    }  
    .--to-projects:hover{
        cursor: pointer;
        color: $cyan;
    }
    .--to-contact:hover{
        cursor: pointer;
        font-family: "Nunito-SemiBold";
        background-color: $darkBlue;
        color: $white;
        transition: background-color ease-in-out 100ms;
    }
}