$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;
$red: #C01829;
$blue: #211D61;
$green: #009739;
$yellow: #F6D800;

.lang-selector{
    background-color: transparent;
    align-self: center;

     &__button{
        background-color: transparent;
        color: $white;
        font-family: "Nunito-Bold";
        font-size: 1rem;
        margin: 2rem 1rem .5rem 1rem;
        padding: .5rem;
        border: .05rem solid $purple;
        border-radius: .3rem;

        &:focus{
            outline: none;
        }
    } 
}

.--en_US{
        
    &-active{
        background-color: $red;
        color: $white;
        border-color: $red;
    }
}
.--pt_BR{

    &-active{
        background-color: $green;
        color: $yellow;
        border-color: $green;
    }
}
@media (min-width: 801px) {
    .lang-selector{

        &__button{
            background-color: transparent;
            color: $white;
            font-family: "Nunito-Bold";
            font-size: 1.5vh;
            margin: 3vh 1vh 0 1vh;
            padding: .5vh 2vh .5vh 2vh;
            border: .1vh solid $purple;
            border-radius: .5vh;
    
            &:hover{
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        } 
    }

    .--en_US{
        
        &-active{
            background-color: $red;
            color: $white;
            border-color: $red;
        }
        &:hover{
            color: $white;
            border-color: $red;
        }
    }
    .--pt_BR{

        &-active{
            background-color: $green;
            color: $yellow;
            border-color: $green;
        }
        &:hover{
            color: $yellow;
            border-color: $green;
        }
    }
}