$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;
$red: #C01829;
$blue: #211D61;
$green: #009739;
$yellow: #F6D800;

.wayfinder{
    overflow: hidden;
    font-family: "Nunito-Bold";
    background-color: $darkBlue;
    width: 100%;
    text-align: center;

    &__toggle{
        padding: 1rem 0 1rem 0;
        background-color: #121b4a;
    }
    &__hamburguer{
        background-image: url('../../images/wayfinder-toggle.svg');
        background-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 auto 0 auto;
    }
    &__waypaths{
        display: inline-block;
        position:relative;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin: 1rem 0 1rem 0;
    }
    &__waydirect{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $white;
        font-size: 1.5rem;
        border-bottom: .4rem solid transparent;
    }
    &__waysign{
        color: $cyan;
        font-size: 2rem;
    }
    &__waydirect, &__waysign{
        display: block;
    }
    &__lang{
        background-color: #121b4a;
        align-self: flex-end;

        &-button{
            background-color: transparent;
            color: $white;
            font-family: "Nunito-Bold";
            font-size: 1rem;
            margin: .5rem 2rem .5rem 2rem;
            padding: .5rem;
            border: .1rem solid $purple;
            border-radius: .5rem;

            &:focus{
                outline: none;
            }
        } 
    }
}
#wayfinder-competencies , #wayfinder-projects{
    margin: 2.5rem 0 2.5rem 0;
}
.--visible{
    display: block;
}
.--hidden{
    display: none;
}
.--visited{
    color: $cyan;
    border-bottom: .4rem solid $cyan;
    transition: border-bottom ease-in-out 100ms;
}
.--en_us{
        
    &-active{
        background-color: $red;
        color: $white;
        border-color: $red;
    }
}
.--pt_br{

    &-active{
        background-color: $green;
        color: $yellow;
        border-color: $green;
    }
}
@media (min-width: 801px) {
    .wayfinder{
        display: flex;
        flex-direction: row;
        min-height: 6.5vh;

        &__toggle{
            display: none;
        }
        &__waypaths{
            display: block;
            margin: 1vh auto 1vh auto;  
        }
        &__waydirect{
            font-size: 2.5vh;
            border-bottom: .5vh solid transparent;
            transition: border-bottom ease-in-out 100ms;

            &:hover {
                color: $cyan;
                cursor: pointer;
            }
        }
        &__waysign{
            font-size: 3rem;
        }
        &__waydirect, &__waysign{
            display: inline-block;
        }
        &__lang{
            background-color: transparent;
            align-self: center;

            &-button{
                background-color: transparent;
                color: $white;
                font-family: "Nunito-Bold";
                font-size: 1.5vh;
                margin: 1vh 1vh 0 1vh;
                padding: .5vh;
                border: .1vh solid $purple;
                border-radius: .5vh;
    
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            } 
        }

    }
    #wayfinder-competencies , #wayfinder-projects{
        margin: 0 5vh 0 5vh;
    }
    .--active{
        display: inline-block;
    }
    .--visited{
        color: $cyan;
        border-bottom: .5vh solid $cyan;
    }
    .--en_us{
        
        &-active{
            background-color: $red;
            color: $white;
            border-color: $red;
        }
        &:hover{
            color: $white;
            border-color: $red;
        }
    }
    .--pt_br{

        &-active{
            background-color: $green;
            color: $yellow;
            border-color: $green;
        }
        &:hover{
            color: $yellow;
            border-color: $green;
        }
    }
}