$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.about{
    font-family: "Nunito-Bold";
    color: $darkBlue;
    flex: 2;
    margin: 0 0 1rem;
    font-size: 1.25rem;

    &__headline{
        font-size: 2rem;
        margin: 0 1rem 0 1rem;

        &-comment{
            color: #5766b5;
            font-family: "Nunito-Regular";
            font-size: 1.5rem;
            margin-top:.5rem;
        }
    }
    &__route{
        margin: 5vh 0 0 0;

        &-button{
            font-family: "Nunito-Regular";
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            padding: 1.5rem;
            border: .05rem solid $darkBlue;
            border-radius: .3rem;
            font-size: 1.2rem;
            width: 10rem;
        }
    }
    & ul{
        display: none;

        & li{
            display: none;
        }
    }    
}
.--start{
    margin-bottom: 1rem;
}
.--end{
    margin-top: 1rem;
}
.--to-projects{
    display: block;
    background-color: $darkBlue;
    color: $white;
    font-family: "Nunito-SemiBold";
    margin: 0 auto 1rem auto;
}
.--to-contact{
    background-color: transparent;
    border: none !important;
}
@media (min-width: 801px) {  
    .about{
        display: flex;
        flex-direction: row;
        margin: 5vh 0 0;
        font-size: 3vh;
        min-height: 50vh;

        &__headline{
            display: inline-block;
            font-size: 5vh;
            margin: 15vh 0 0 0;

            &-comment{
                font-size: 2.5vh;
                margin-top: 1vh;
            }
        }
        &__route{
            margin: 5vh 0 0 0;

            &-button{
                padding: 1.5vh;
                border: .1vh solid $darkBlue;
                border-radius: .5vh;
                font-size: 2vh;
                text-align: center;
                width: 20vh;
            }
        }
    }
    #status-wrapper{
        align-self: center;
        overflow: hidden;
        position: relative;
        margin: 0 18vh 8vh auto;
        height: 7vh;

        &:before{
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            content: '';
            height: 1vh;
            position: absolute;
            background: linear-gradient(180deg, #e2f3f5, rgba(255, 142, 113, 0));
        }
        &:after{
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            content: '';
            height: 1vh;
            position: absolute;
            background: linear-gradient(180deg, rgba(255, 142, 113, 0), #e2f3f5);
        }
    }
    #status-list{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        & span{
            color: $darkBlue;
        }
        & li{
            opacity: 1;
            height: 3vh;
            padding: 3vh;
            list-style: none;
            font-size: 5.25vh;
        }
    }
    .--start{
        text-align: start;
        margin-bottom: 1vh;
    }
    .--end{
        text-align: end;
        margin-top: 1vh;
    }
    .--to-projects{
        display: inline-block;
        margin: 0 2vh 0 0;

        &:hover{
            cursor: pointer;
            color: $cyan;
        }
    }  
    .--to-contact{
        &:hover{
            cursor: pointer;
            font-family: "Nunito-SemiBold";
            background-color: $darkBlue;
            color: $white;
            transition: background-color ease-in-out 100ms;
        }
    }
    .--is-active{
        -moz-animation: scrollUp 5s ease-in-out infinite reverse;
        -webkit-animation: scrollUp 5s ease-in-out infinite reverse;
        animation: scrollUp 5s ease-in-out infinite reverse;
    }
    @-webkit-keyframes scrollUp {
        0%{
            -webkit-transform: translateY(4vh);
            transform: translateY(4vh);
        }
        100%{
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
      }
      
    @keyframes scrollUp {
        0%{
            -webkit-transform: translateY(4vh);
            transform: translateY(4vh);
        }
        100%{
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
}