$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.contact{
    font-family: "Nunito-Regular";
    color: $darkBlue;
    flex: 2;
    font-size: 1.25rem;

    &__title{
        font-family: "Nunito-SemiBold";
        color: $purple;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    &__form{
        font-family: "Nunito-Light"; 
        display: flex;
        flex-direction: column;
        gap: 1.2rem 0;

        & label{
            color: $purple;
        }
        &-email{
            min-height: 2rem;
            padding: .5rem;
        }
        &-message{
            resize: none;
            min-height: 10rem;
            padding: .5rem;
        }
        &-email, &-message{
            font-family: "Nunito-Light";
            display: block;
            background-color: transparent;
            border: none;
            border-radius: .3rem;
            font-size: 1rem;
            min-width: 20rem;
            margin: 1rem 0 0 0;
        }
        &-email:focus, &-message:focus, &-button:focus{
            outline: none;
            box-shadow:  .1rem .1rem .3rem #344dcd, 
             -.1rem -.1rem .3rem #4668ff;
        }
        &-button{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
                
            color: $darkBlue;
            background-color: transparent;
            border-radius: .5vh;
            border: none;
            font-size: 1.2rem;
            width: 92.5%;
            padding: 1.2rem;
            margin: 0 0 1rem 0;
        }
    }
    & svg{
        display: none;
    }
}

@media (min-width: 801px) {
    .contact{
        display: flex;
        flex-direction: row;
        font-size: 3vh;

        &__title{
            font-size: 4vh;
            padding-bottom: 2vh;
        }
        &__form{
            gap: 2.4vh 0;
            &-email{
                min-height: 3.5vh;
                padding: 1vh;
            }
            &-message{
                min-height: 20vh;
                padding: 1vh;
            }
            &-email, &-message{
                margin: 2vh 0 2vh 0;
                font-size: 2vh;
                min-width: 65vh;
            }
            &-email:focus, &-message:focus, &-button:focus{
                outline: none;
                box-shadow:  .1vh .1vh .6vh #344dcd, 
                    -.1vh -.1vh .6vh #4668ff;
            }
            &-button{
                font-family: "Nunito-Light";
                font-size: 2.5vh;
                width: 30vh;
                padding: 2vh;
                margin: 0 0 2vh 0;

                &:hover{
                    cursor: pointer;
                    font-family: "Nunito-SemiBold";
                    background-color: $darkBlue;
                    color: $white;
                    transition: background-color ease-in-out 100ms;
                }
            }
        }
        & svg{
            display: block;
            margin: 0 0 0 auto;
            width: 65vh;
        }   
    }
}