$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.contact{
    font-family: "Nunito-Regular";
    color: $darkBlue;
    flex: 2;
    font-size: 1.25rem;

    &__title{
        font-family: "Nunito-SemiBold";
        color: $purple;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    &__form{
        font-family: "Nunito-Light"; 

        & label{
            color: $purple;
        }
        &-email{
            min-height: 2rem;
            padding: .5rem;
        }
        &-message{
            resize: none;
            min-height: 10rem;
            padding: .5rem;
        }
        &-email, &-message{
            font-family: "Nunito-Light";
            display: block;
            background-color: transparent;
            border-radius: 5px;
            border: .05rem solid$darkBlue;
            margin: 1rem 0 1rem 0;
            font-size: 1rem;
            min-width: 20rem;
        }
        &-email:focus, &-message:focus, &-button:focus{
            outline: none;
            border-color: $purple;
        }
        &-button{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
                
            color: $white;
            background-color: $darkBlue;
            border-radius: 5px;
            border: .05rem solid $darkBlue;
            font-size: 1rem;
            min-width: 100%;
            height: 3rem;
            margin: 0 0 1rem 0;
        }
    }
}

@media (min-width: 801px) {
.contact{
    font-size: 3vh;
    background-image: url('../../images/contact.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 60vh;

        &__title{
            font-size: 4vh;
            padding-bottom: 2vh;
        }
        &__form{

            &-email{
                min-height: 3vh;
                padding: 1vh;
            }
            &-message{
                min-height: 20vh;
                padding: 1vh;
            }
            &-email, &-message{
                border: .2vh solid $darkBlue;
                margin: 2vh 0 2vh 0;
                font-size: 2vh;
                min-width: 50vh;
            }
            &-button{
                font-family: "Nunito-Light";
                color: $darkBlue;
                background-color: transparent;
                border: .2vh solid $darkBlue;
                font-size: 2vh;
                min-width: 20vh;
                height: 6vh;
                margin: 0 0 2vh 0;
    
                &:hover{
                    cursor: pointer;
                    font-family: "Nunito-SemiBold";
                    background-color: $darkBlue;
                    color: $white;
                    transition: background-color ease-in-out 100ms;
                }
            }
        }   
    }
}