$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.article{
    text-align: center;
    width: 100%;
    margin: 4rem 0 6rem 0;

    &__title{
        font-family: "Nunito-Bold";
        color: $purple;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
    &__text{
        font-family: "Nunito-Regular";
        color: $darkBlue;
        flex: 2;
        margin: 0 0 1rem;
        font-size: 1.25rem;
        width: 20rem;
    }
}
span{
    color: $purple;
}
@media (min-width: 801px) {  
    .article{
        text-align: left;
        margin:0 0 20vh 0;

        &__title{
            font-size: 6vh;
            margin-bottom: 0;
        }
        &__box{
            flex-direction: row;
            align-content: space-between;
            margin-top: 5vh;
            padding-top: 2vh;
        }
        &__text{
            margin: 5vh 0 0;
            font-size: 3vh;
            width: 40vh;
        }
    }
    .--reverted{
        text-align: right;
    }
    .--spaced{
        justify-content: space-between;
    }
}