$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.project{
    width: 90%;
    min-height: 14rem;
    margin: 2rem 0 0 0;
    border-radius:  0 0 10px 10px;
    
    &__image{
        display: block;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        min-height: 9.5rem;
        margin: 1rem auto 0 auto;
        border: .05rem solid $darkBlue;
    }
    &__description{
        padding-top: 1rem;
        border: .05rem solid $darkBlue;
        border-radius: 0 0 10px 10px;
        border-top: none;
        width: 100%;
    }
    &__title{
        font-family: "Nunito-SemiBold";
        text-align: center;
        color: $purple;
        font-size: 2rem;
    }
    &__outside{
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem 0;
    }
    &__button{
        display: inline-block;
        width: 35%;
        font-family: "Nunito-Light";
        text-decoration: none;
        text-align: center;
        color: $darkBlue;
        margin:  0 auto 0 auto;
        font-size: 1.2rem;
        border: .05rem solid $darkBlue;
        border-radius: 5px;
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

}
.--spaced-flex{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 801px) {
    .project{
        padding: 0;
        margin: 0;
        min-width: 25%;
        max-width: 30%;
        min-height: 32vh;

        &__image{
            background-size: 100%;
            width: 100%;
            height: 90%;
            margin: 0;
            border: .2vh solid $darkBlue;

        }
        &__description{
            padding-top: 2vh;
            border: .2vh solid $darkBlue;
            border-top: none;
        }
        &__title{
            font-size: 3vh;
        }
        &__outside{
            display: flex;
            margin: 2.5vh 0 4vh 0;
        }
        &__button{
            font-size: 2vh;
            padding: 1vh 2vh 1vh 2vh;

            &:hover{
                cursor: pointer;
                font-family: "Nunito-SemiBold";
                background-color: $darkBlue;
                color: $white;
                transition: background-color ease-in-out 100ms;
            }
        }
    }
    .--spaced-flex{
        flex-direction: row;
    }
}
.--efrederickcli{
    background-image: url('https://repository-images.githubusercontent.com/275693390/6b759e80-cf5d-11ea-8d8f-a22f2ac03276');
}
.--cstech{
    background-image: url('https://repository-images.githubusercontent.com/245696462/5bab8980-cf60-11ea-95f0-bc5f566cd9e8');
}
.--efrederick{
    background-image: url('https://repository-images.githubusercontent.com/280514081/218fb700-cf63-11ea-9aaf-b75efd0e17d2');
}