$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.about{
    font-family: "Nunito-Bold";
    color: $darkBlue;
    flex: 2;
    margin: 0 0 1rem;
    font-size: 1.25rem;

    &__headline{
        font-size: 2rem;
        margin: 0 1rem 0 1rem;

        &-comment{
            color: #5766b5;
            font-family: "Nunito-Regular";
            font-size: 1.5rem;
            margin-top:.5rem;
        }
    }
    &__route{
        margin: 5vh 0 0 0;

        &-button{
            font-family: "Nunito-Regular";
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            padding: 1.5rem;
            border: .05rem solid $darkBlue;
            border-radius: .3rem;
            font-size: 1.2rem;
            width: 10rem;
        }
    }      
}
.--start{
    margin-bottom: 1rem;
}
.--end{
    margin-top: 1rem;
}
.--to-projects{
    display: block;
    background-color: $darkBlue;
    color: $white;
    font-family: "Nunito-SemiBold";
    margin: 0 auto 1rem auto;
}
@media (min-width: 801px) {  
    .about{
        margin: 5vh 0 0;
        font-size: 3vh;
        background-image: url('../../images/about.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: 55vh;
        min-height: 50vh;

        &__headline{
            display: inline-block;
            font-size: 5vh;
            margin: 15vh 0 0 0;

            &-comment{
                font-size: 2.5vh;
                margin-top: 1vh;
            }
        }
        &__route{
            margin: 5vh 0 0 0;

            &-button{
                padding: 1.5vh;
                border: .1vh solid $darkBlue;
                border-radius: .5vh;
                font-size: 2vh;
                text-align: center;
            }
        } 
    }
    .--start{
        text-align: start;
        margin-bottom: 1vh;
    }
    .--end{
        text-align: end;
        margin-top: 1vh;
    }
    .--to-projects{
        display: inline-block;
        margin: 0 2vh 0 0;

        &:hover{
            cursor: pointer;
            color: $cyan;
        }
    }  
    .--to-contact{

        &:hover{
            cursor: pointer;
            font-family: "Nunito-SemiBold";
            background-color: $darkBlue;
            color: $white;
            transition: background-color ease-in-out 100ms;
        }
    }
}