$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.project__box{
    text-decoration: none;
    min-width: 90%;
    margin: 2rem 0 0 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 10px;
    border: .05rem solid $darkBlue;
}
.project__title{
    font-family: "Nunito-SemiBold";
    text-align: center;
    font-size: 2rem;
    color: $darkBlue;
}
.project__image{
    display: block;
    background-repeat: no-repeat;
    background-size: 20rem;
    max-width: 20rem;
    min-height: 9.5rem;
    margin: 1rem auto 1rem auto;
    border: .05rem solid $darkBlue;
}
.project__description{
    font-family: "Nunito-Light";
    text-align: center;
    color: $darkBlue;
    font-size: 1rem;
}
@media (min-width: 801px) {
    .project__box{
        margin: 0;
        padding: 3vh;
        border-radius: 10px;
        border: .2vh solid $darkBlue;
        min-width: 25%;
        max-width: 40vh;
        height: 32vh;
    }
    .project__image{
        background-size: 40vh;
        min-height: 19.5vh;
        margin: 2vh auto 2vh auto;
        border: .2vh solid $darkBlue;
    }
    .project__description{
        font-size: 2vh;
    }
    .project__box:hover, .project__box:hover .project__image {
        cursor: pointer;
        border-color: $purple;
    }
}