$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.competence{
    font-family: "Nunito-SemiBold";
    text-align: center;
    font-size: 1.617rem;
    border: .05rem solid $darkBlue;
    border-radius: 1rem;
    width: 90%;
    min-height: 35rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;

        
    & p{
        margin: 1.5rem 0 1.5rem 0;
    }
    &__name{
        font-family: "Nunito-Bold";
        color: $purple;
        font-size: 2.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &__description{
        font-family: "Nunito-Regular";
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    &__sub-description{
        font-family: "Nunito-ExtraLight";
    }
}
@media (min-width: 801px) { 
    .competence{
        padding: 2vh;
        border: .1vh solid $darkBlue;
        border-radius: 1.5vh;
        max-width: 25%;
        min-height: 80vh;
        font-size: 2.5vh;
        margin-bottom: 0;

        &p{ 
            margin: 3vh 0 3vh 0;
        }
        &__name{
            font-size: 4vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
        &__description{
            padding-top: 2vh;
            border-top: .2vh solid $darkBlue;
            margin: 4vh 0 2vh 0;
            font-size: 2.3vh;
        }
        &__headline{
            min-height: 25%;
        }
    }
}