$white : #e2f3f5;
$cyan : #22d1ee;
$purple : #3d5af1;
$darkBlue : #0e153a;

.wayfinder{
    font-family: "Nunito-Bold";
    background-color: $darkBlue;
    width: 100%;
    min-height: 3.25rem;
    text-align: center;
}
.wayfinder__waypaths{
    display: inline-block;
    position:relative;
    margin: 1rem 0 1rem 0;
    border-bottom: .5vh solid $white;
}
.wayfinder__waydirect{
    font-size: 1.5rem;
}
#competences , #projects{
    margin: 2.5rem 0 2.5rem 0;
}
.wayfinder__waysign{
    font-size: 2rem;
}
.wayfinder__waydirect, .wayfinder__waysign{
    color: $white;
    display: block;
}

@media (min-width: 600px) {
    .wayfinder{
        position: fixed;
        min-height: 6.5vh;
    }
    .wayfinder__waypaths{
        margin: 1vh 0 1vh 0;
    }
    .wayfinder__waydirect{
        font-size: 2.5vh;
        margin: 0;
    }
    #competences , #projects{
        margin: 0 5vh 0 5vh;
    }
    .wayfinder__waysign{
        font-size: 3rem;
    }
    .wayfinder__waydirect, .wayfinder__waysign{
        display: inline-block;
    }
    .wayfinder__waydirect:hover , .wayfinder__waysign:hover{
        color: $cyan;
        cursor: pointer;
    }
    .--sticky-top{
        position: fixed;
    }
}
.--activated{
    color: $cyan;
}
.--deactivated{
    color: $white;
}